extend ./layout.jade
block content
  div(class="container")
    div(class="row") 
      div(class="col l12 s12")
        form(role="form", action="/login",method="post")
          div(class="card-panel z-depth-4")
            div(class="center")
              h4(class="grey-text text-darken-4") Login
              p(class="center") Lo sentimos el acceso es solo para Administradores.
              hr
              div(class="input-field")
                input(id="user_name" name='username' type="text" class="validate")
                label(for="user_name") User Name
              div(class="input-field")
                input(id="password" name='password' type="password" class="validate")
                label(for="password") Password
              div(class="input-field")
                button(type='submit' class="waves-effect waves-light btn") log in
      